<div class="container-wrapper">
  <div class="card">
    <div class="card-content-wrapper">
      <img class="card-image" [src]="europeImage" />
    </div>
    <div class="card-content-wrapper">
      <span>Animals from Europe</span>
    </div>
    <div class="card-content-wrapper">
      <a routerLink="/europe" class="card-button">Check it now!</a>
    </div>
  </div>

  <div class="card">
    <div class="card-content-wrapper">
      <img class="card-image" [src]="africaImage" />
    </div>
    <div class="card-content-wrapper">
      <span>Animals from Africa</span>
    </div>
    <div class="card-content-wrapper">
      <a routerLink="/africa" class="card-button">Check it now!</a>
    </div>
  </div>

  <div class="card">
    <div class="card-content-wrapper">
      <img class="card-image" [src]="americaImage" />
    </div>
    <div class="card-content-wrapper">
      <span>Animals from America</span>
    </div>
    <div class="card-content-wrapper">
      <a routerLink="/america" class="card-button">Check it now!</a>
    </div>
  </div>
</div>
